<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <h2 class="mt-5"><%= @restaurant.name.capitalize %>'s Inventory</h2>
      <hr>
      <div class="table-responsive">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">MenuItem</th>
                <th scope="col" class="text-left">Current Stock</th>
                <th scope="col" class="text-left">Alert Limit</th>
<!--                 <th scope="col" class="text-center">Vendors</th>
 -->              </tr>
            </thead>
            <tbody>
              <% @inventories.includes(:menu_item).each do |inventory| %>
                <% if inventory.trigger_limit >= inventory.stock_amount_grams %>
                  <tr class="table-warning">
                      <td><%= inventory.menu_item.title %></td>
                      <td><%= inventory.stock_amount_grams %> g</td>
                      <td><%= inventory.trigger_limit %> g</td>
                      <td class="d-flex justify-content-around align-items-center">
                        <div>
                          <p class= "m-0">Vendor's name </p>
                          <p class= "m-0"> 01XXXXXXXXX </p>
                        </div>
                        <button type="button" class="btn btn-outline-success ">Re-order</button>
                      </td>
                    </tr>
                <% else %>
                  <tr>
                    <td><%= inventory.menu_item.title %></td>
                    <td><%= inventory.stock_amount_grams %> g</td>
                    <td><%= inventory.trigger_limit %> g</td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
