<div class="container mt-5 p-5 border border-dange border-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <%= simple_form_for [@restaurant, @menu_item], url: restaurant_menu_item_path(@restaurant) do |f| %>
        <%= f.input :title, wrapper_html: { class: "fw-bold" } %>
        <%= f.input :item_price %>
        <%= f.input :description, as: :text %>
        <%= f.input :active, as: :boolean, hint: 'Inactive to hide.' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <div class="d-grid gap-2 col-6 mx-auto">
          <%= link_to 'Cancel',categories_path, class:"btn btn-outline-secondary h-25" %>
          <%= f.button :submit, class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
