<div class="main-container-menu-item-index">
  <div class="back-icon">
    <%= link_to categories_path do%>
      <i class="fad fa-chevron-left text-fontawesome mr-2"></i>
      <p>Back to Menu</p>
    <% end %>
  </div>
  <%= simple_form_for :@menu_item, url: category_menu_items_path(@category), method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="w-100 string required height-130 b-radius-32 text-35 text-fontawesome px-4 background-shallow-grey focus:outline-none focus:ring-4 focus:ring-yellow-500 focus:border-transparent" type="text" placeholder="&#xF002; What do you wanna eat today?" name="query" value="<%= params[:query] %>" id="search_query" />
    </div>
  <% end %>
  <div class="card-category-title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pingpongdimsum.com/wp-content/uploads/2019/06/image003-2.png)">
    <%= @menu_items.first.category.title.capitalize %>
  </div>
  <% if notice.present? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 35px;">
        <p><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" style="font-size: 50px;">&times;</span>
        </button>
      </div>
    <% end %>
  <% @menu_items.each do |menu_item| %>
    <div class="card-item">
      <div class="img-container-card">
         <% if menu_item.photos.attached? %>
          <%= cl_image_tag menu_item.photos.first.key  %>
         <% else %>
          <%= image_tag("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid")%>
         <% end %>
      </div>
      <div class="card-item-infos">
        <div class="d-flex justify-content-start menu-item-title">
          <h2><%= menu_item.title %></h2>
        </div>
        <div class="menu-item-description">
          <p>
            <% if menu_item.description.chars.count > 120 %>
              <%= menu_item.description.slice(0..120)%>...
            <% else %>
              <%= menu_item.description%>
            <% end %>
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center item-price">
            <h2 style="font-size: 35px; font-weight: normal;"><%= humanized_money_with_symbol(menu_item.item_price) %></h2>
          </div>
          <%= link_to "Add", menu_item_path(menu_item), class:"btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @order.line_items.any? %>
  <%= link_to order_line_items_path(@order) , class:"btn-call2-action btn-sticky" do %>
    <span class="notification-btn badge-primary animate-pulse"><%= @order.line_items.where(deleted: false).count %></span>
    <span>Go to order</span>
  <% end %>
<% else %>
  <button type="button" id="modal-0line-items-trigger2" class="btn-call2-action btn-sticky">Go to order</button>
<% end %>

<!-- Custom Modal -->
<div id="noItemsNotification2" class="modal2">
  <div class="modal2-content">
    <span class="close">&times;</span>
    <canvas id="pizza" class="" style="margin: 12% auto;"></canvas>
    <div class="mt-0 mb-5 modal-subtitle text-center">You have not added any items yet</div>
  </div>
</div>
