<div class="page">
  <div>
    <img src="https://images.unsplash.com/photo-1567336967319-2500ab3ce9dc?ixlib=rb-1.2.1&ixid" alt="">
  </div >
  <!-- title and price -->
  <div class="cont d-flex justify-content-between">
    <div>
      <h5 class="text-title"><%= @menu_item.title %></h5>
    </div>
    <div class="d-flex align-items-center">
      <h5 class="text-price"><%= humanized_money_with_symbol(@menu_item.item_price) %></h5>
    </div>
  </div>
  <!-- menu_item description -->
  <div class="cont">
    <p class="text-description"><%= @menu_item.description %></p>
  </div>
</div>
<!-- comments text area -->
<div class="cont">
  <h4>Comments:</h4>
  <%= simple_form_for [@order, @line_item], url: order_line_items_path(@order) do |f| %>
  <%= f.text_field :comment,class:"textarea-menu-item px-5 mt-3", placeholder: "No onions, no tomatos, etc..." %>
  <div class="d-flex justify-content-between toggler-add-btn">
    <!--  here goes the toggler -->
    <div class="custom-number-input d-flex flex-row relative bg-transparent mt-5 toggler-border-show">
      <button type="button" data-action="decrement" class="left-side text-gray-600 h-full w-20 outline-none pl-5 counter-white">
        <span class="m-auto text-2xl ">−</span>
      </button>
      <input type="number" class="focus:outline-none text-center w-full font-semibold text-md counter-white md:text-basecursor-default flex items-center text-gray-700" name="custom-input-number" value="1"></input>
      <button  type="button" data-action="increment" class="right-side counter-white  text-gray-600 h-full w-20 pr-5">
        <span class="m-auto text-2xl">+</span>
      </button>
      <input type="hidden" id="custId" name="menu_item" value="<%= @menu_item.id %>">
    </div>
    <%= f.button :submit, 'Add', class: "biggerbtn mt-5", style:"" %>
  </div>
  <% end %>
</div>
