<div class="main-container-menu-item-index">

  <!-- back icon--place "Back to Menu" here -->
  <div class="back-icon">
    <%= link_to categories_path do%>
      <i class="fad fa-chevron-left text-fontawesome mr-2"></i>
      <p>Back to Menu</p>
    <% end %>
  </div>

  <!-- Just Order Summary text -->
  <div class="order-summary-text">Order Summary</div>

  <!-- this is the card for summary -->
  <% @line_items.each do |line_item| %>
    <% if line_item.quantity >= 1 %>
      <div class="card-item">
        <div class="img-container-card">
          <%= cl_image_tag line_item.menu_item.photos.first.key  %>
        </div>
        <div class="card-item-infos">
          <div class="d-flex justify-content-between h-50 w-100 pt-3 px-1">
            <h2 class="px-2 w-75">
              <% if line_item.menu_item.title.chars.count > 17 %>
                <%= line_item.menu_item.title.slice(0..17)%>... x <%= line_item.quantity %>
              <% else %>
                <%= line_item.menu_item.title %> x <%= line_item.quantity %>
              <% end %>
            </h2>
            <h2><%= humanized_money_with_symbol(line_item.total) %></h2>
          </div>
          <% if line_item.dispatched_from_kitchen %>
            <h2 class="badge badge-pill badge-success ml-2 w-50" style="font-size:30px;">Delivered</h2>
          <% else %>
            <h2 class="badge badge-pill badge-primary ml-2 animate-pulse w-50" style="font-size:30px;">Being prepared</h2>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<button id="checkout-button" class="btn-call2-action btn-sticky d-flex justify-content-between px-5">
  <h3>Pay Now </h3>
  <h3><%= humanized_money_with_symbol(@order.total_price) %></h3>
</button>



<script src="https://js.stripe.com/v3/"></script>

<script>
  const payment = document.getElementById('checkout-button');
  payment.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });
  });
</script>

