<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between align-items-end">
        <h2 class="mt-5"><%= @restaurant.name.capitalize %>'s Inventory</h2>
        <button type="button" class="btn btn-outline-primary pb-2" style="margin-right: 1rem; "data-toggle="modal" data-target="#re-stockModal">
          Re-Stock
        </button>
      </div>

      <hr>
      <div class="table-responsive">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">Ingredient</th>
                <th scope="col" class="text-left">Current Stock</th>
                <th scope="col" class="text-left">Alert Limit</th>
                <th scope="col" class="text-left">Last Re-stock</th>
              </tr>
            </thead>
            <tbody>
              <% @ingredient_inventories.order(:stock_amount_grams).each do |ingredient_inventory| %>
                <% if ingredient_inventory.trigger_limit >= ingredient_inventory.stock_amount_grams %>
                  <tr class="table-warning">
                      <td><%= ingredient_inventory.name.capitalize %></td>
                      <td><%= ingredient_inventory.stock_amount_grams %> g</td>
                      <td><%= ingredient_inventory.trigger_limit %> g</td>
                      <td class="d-flex justify-content-around align-items-center">
                        <div>
                          <p class= "m-0"><%= ingredient_inventory.vendor_name %> </p>
                          <p class= "m-0"> <%= ingredient_inventory.vendor_phone_number %> </p>
                        </div>
                        <button type="button" class="btn btn-outline-success ">Re-order</button>
                      </td>
                    </tr>
                <% else %>
                  <tr data-toggle="modal" data-target="#ModalIngredient<%= ingredient_inventory.id %>">
                    <td><%= ingredient_inventory.name.capitalize %></td>
                    <td><%= ingredient_inventory.stock_amount_grams %> g</td>
                    <td><%= ingredient_inventory.trigger_limit %> g</td>
                    <td><%= ingredient_inventory.inventory_refills.last.created_at.strftime("%d %b %Y %l:%M %p") %></td>
                  </tr>
                  <!-- modal -->
                  <%= render partial: 'ingredient_data_modal', locals: { ingredient_inventory: ingredient_inventory} %>
                  <!-- end of modal -->
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
<%= render partial: 're-stock_modal', locals: { inventory_refill: @inventory_refill, ingredient_inventories: @ingredient_inventories} %>

