<div class="modal fade" id="deleteOrderModal<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="border-radius: 2rem;">

      <div class="modal-header mx-3">
        <h5 class="modal-title" id="exampleModalLabel2">Deleting order #<%=order.id%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for order, url: shallow_delete_order_path(order), method: :patch, html: {id: "delete_order" } do |f| %>
                <%= f.input :deletion_reason, as: :text %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mx-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit,'Delete order', class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>
