<div class="d-flex">
  <div class="col-2">
    <div class="mt-5">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <% icons = ["fas fa-mug-hot", "fas fa-hamburger","fas fa-hotdog", "fas fa-beer", "fas fa-fish" ] %>
        <% counter = 0 %>
      <% @categories.each do |category| %>
        <li class="nav-item w-75" role="presentation">
          <a class="nav-link mb-3 text-center category-pill py-2" id="pills-<%= category.id %>-tab" data-toggle="pill" href="#pills-<%= category.id %>" role="tab" aria-controls="pills-home" aria-selected="true">
            <div class="d-flex align-items-center">
              <i class="<%= icons[counter] %> back-gray mr-3"></i><span><%= category.title.capitalize %></span>
            </div>
          </a>
        </li>
        <% counter += 1 %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="col-7">
    <div class="tab-content mt-5" id="pills-tabContent">
        <% @categories.each do |category| %>
        <div class="tab-pane fade show " id="pills-<%= category.id %>" role="tabpanel" aria-labelledby="pills-<%= category.id %>-tab">
          <div class="d-flex flex-wrap">
            <% category.menu_items.each do |menu_item| %>
            <div class="card m-2 border-0 border-r-16 shadow-menu-item" style="width: 16rem;">
              <%= cl_image_tag menu_item.photos.first.key,class:"card-img-top img-menu-item-size"  %>
              <div class="card-body p-3 mt-1">
                <h5 class="text-muted"><%= menu_item.title %></h5>
                <div class="d-flex justify-content-between align-items-end mt-3">
                  <p class="mb-0 text-muted">Ordered <%= pluralize(menu_item.orders.size, "time" ) %></p>
                  <h5 class="mb-0"><%= humanized_money_with_symbol(menu_item.item_price) %></h5>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-3">
    <div class="checkout mt-5" style="background-color: gray; height: 500px;">

    </div>
  </div>
</div>
    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> -->

<style>
  .category-pill{
    border-radius: 3rem !important;
  }

  .back-gray{
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 0.6rem;
  }

  .img-menu-item-size{
    width: 254px;
    height: 169px;
    object-fit: cover;
    border-radius: 16px;
  }
  .border-r-16{
    border-radius: 16px;
  }
  .shadow-menu-item{
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  }
  .green-shadow{
    box-shadow: 0rem 0rem 3px 2px rgba(46, 204, 113, 1) !important;
  }
</style>
<script>
  const cards = document.querySelectorAll('.card')
  cards.forEach(card => {
    card.addEventListener('click', (event) =>{
      card.classList.toggle("green-shadow");
    });
  });



  const cats = document.querySelectorAll('.nav-item')
  cats.forEach(cat => {
    cat.addEventListener('click', (event) => {
      console.log(event.target.firstChild.textContent);
    });
  })
</script>
