<div class="modal fade" id="updateLineModal<%= line.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Updating <%=line.menu_item.title%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for [line.order, line], url: order_line_item_path(line.order, line), method: :patch, html: { id: "edit_line_item" } do |f| %>
                <div class="row g-3 " style="margin: 2em -10em !important;">
                  <div class="col-6">
                    <%= f.input :comment %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :quantity, collection: 1..10, selected: line.quantity %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>
