<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 13em !important;">

      <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %>'s Orders</h2>
      <hr>
      <div class="table-responsive">
        <div class="d-flex flex-wrap">
          <% @tables.each do |table| %>
            <div class="card m-2" style="width: 45rem;">
              <div class="card-body">
                <h5 class="card-title"><%= table.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">total table till now: <%= humanized_money_with_symbol(table.orders.sum(:total_price_cents)/ 100.0) %></h6>
                <!-- <p class="card-text">Some quick example text .</p> -->
                <% table.orders.where("status= ? AND total_price_cents> ?", "not paid", "0").each do |order| %>
                <div class="accordion">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="tableOrder">
                      <h2 class="mb-1">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Order #<%= order.id %>
                        </button>
                      </h2>
                      <div>
                        <span class="mr-3">
                          <%= humanized_money_with_symbol(order.total_price) %>
                        </span>
                        <%= link_to edit_order_path(order) do %>
                          <i class="far fa-edit mx-3" style="color: gray;"></i>
                        <% end %>
                        <%= link_to order_path(order), method: :delete, data: { confirm: "Are you sure you want to delete this order? ***ALERT THIS ACTION WILL DELETE ALL OF THE LINE ITEMS RELATED TO THAT ORDER***" } do %>
                          <i class="far fa-trash-alt" style="color: gray;"></i>
                        <% end %>
                      </div>
                    </div>
                    <div class="collapse trigger">
                      <div class="card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col" style="width: 10rem;">MenuItem </th>
                              <th scope="col" style="width: 5rem;">Quantity</th>
                              <th scope="col" style="width: 10rem;">Comment/time in kitchen</th>
                              <th scope="col">status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% order.line_items.where(deleted: false).each do |line| %>
                              <% if line.ordered == false %>
                                <p class="badge rounded-pill bg-warning text-muted p-2"><%= line.menu_item.title %> has been selected by the customer but not yet sent to the kitchen</p>
                              <% else %>
                                    <tr>
                                      <td><%= line.menu_item.title%> </td>
                                      <td><%= line.quantity%></td>
                                      <% if line.dispatched_from_kitchen == true %>
                                      <td><%= (line.total_kitchen_time / 60).to_i%> mins</td>
                                      <td><span class="badge badge-success">Dispatched</span></td>
                                      <% else %>
                                      <td><%= line.comment%></td>
                                      <td><span class="badge badge-warning">Not dispatched</span></td>
                                      <td class="d-flex flex-row-reverse">
                                        <p class="card-text">
                                          <%= button_to shallow_delete_line_item_path(line), method: :patch, data: { confirm: "Are you sure you want to delete this line?" }, remote: true do %>
                                            <i class="far fa-trash-alt" style="color: gray;"></i>
                                          <% end %>
                                          <%= link_to edit_line_item_path(line) do %>
                                            <i class="far fa-edit mx-3" style="color: gray;"></i>
                                          <% end %>
                                        </p>
                                      </td>
                                      <% end %>
                                    </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>
