<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 13em !important;">

      <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %> Kitchen view</h2>
      <hr>
      <div class="mx-5 d-flex flex-wrap justify-content-between">
         <% @tables.each do |table| %>
          <div class="card border-dark mt-5 card-width">
            <div class="card-body">
              <h3 class="card-title card-txt-r2"><%= table.name %></h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Plate</th>
                    <th scope="col">comments</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody id="order" data-kitchen-order-id="<%= table.id %>">
                <% table.line_items.where("ordered= ? AND dispatched_from_kitchen= ? AND deleted= ?", true, false, false).order(:created_at).each do |line| %>
                  <tr>
                    <td><p class="card-text"><strong><%= line.menu_item.title %></strong></p></td>
                    <td><p class="card-text"><%= line.comment %></p></td>
                    <td><p class="card-text"><strong><%= line.quantity %></strong></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>

    </main>
  </div>
</div>
