<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div class="d-flex justify-content-between">
      <div><%= image_tag "logo.png", style:"width:70px; height:70px", class:"d-inline-block align-top" %></div>
      <div id="clockbox" style="margin-left: 40vw; font-size: 25px;"></div>
    </div>
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-4">
      <% @tables.each do |table| %>
        <div class="card mt-5" style="width: 28rem;">
          <div class="card-body ">
            <h3 class="card-title"><%= table.name %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Plate</th>
                  <th scope="col">comments</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
            <% table.line_items.where(ordered: true).each do |line| %>
                <tr>
                  <td><p class="card-text"><strong><%= line.menu_item.title %></strong></p></td>
                  <td><p class="card-text"><%= line.comment %></p></td>
                  <td><p class="card-text"><strong><%= line.quantity %></strong></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          </div>
            <a href="#" class="btn btn-primary btn-lg btn-block">Dispatch</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%#= raise %>



<!-- <script type="text/javascript">
var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+"";
document.getElementById('clockbox').innerHTML=clocktext;
}

GetClock();
setInterval(GetClock,1000);
</script>
 -->
