<nav class="navbar nav-c">
  <a class="container-fluid" href="#">
      <!--logo -->
      <div><%= image_tag "logo.png", style:"width:75px; height:75px", class:"d-inline-block align-top" %></div>
  </a>
  <!--Date and time -->
  <div id="clockbox" style="margin-left: 40vw; color: black; font-weight: bold; font-size: 25px;"></div>
</nav>


<div class="container" id="restaurantId" data-restaurantid="<%=current_employee.restaurant.id%>">
       <% @tables.each do |table| %>
        <div class="card mt-5" style="width: 28rem;">
          <div class="card-body">
            <h3 class="card-title card-txt-r2"><%= table.name %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Plate</th>
                  <th scope="col">comments</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody id="order" data-kitchen-order-id="<%= table.id %>">
              <% table.line_items.where(ordered: true).order(:created_at).each do |line| %>
                <tr>
                  <td><p class="card-text"><strong><%= line.menu_item.title %></strong></p></td>
                  <td><p class="card-text"><%= line.comment %></p></td>
                  <td><p class="card-text"><strong><%= line.quantity %></strong></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          <% if table.orders.count >= 1 %>
            <%= simple_form_for table.orders.first, url: dispatch_notify_order_path(table.orders.first), method: :post, remote: true do %>
              <%= submit_tag 'Dispatch', class:"btn btn-primary btn-lg btn-block" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
</div>
<%= link_to 'log out', destroy_employee_session_path, method: :delete %>
          <%#= raise %>

<!-- <script>
  window.setInterval('refresh()', 20000);

  // Refresh or reload page.
  function refresh() {
      window.location.reload();
  }
</script> -->

