<div class="text-center login">
  <form class="form-signin ">
    <%= image_tag 'logo.png',class:"mb-4 mx-auto square-img" %>
    <h1 class="h3 mb-3 font-weight-normal">Employees sign in</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :email,label:"", autofocus: true, class:"form-control", autocomplete: "email",placeholder:"Email address" %>
      </div>

      <div class="field">
        <%= f.input :password,label:"", class:"form-control", autocomplete: "current-password",placeholder:"Password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me,class:"checkbox mb-3" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in",class:"btn btn-lg btn-primary btn-block mb-2" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </form>
</div>


