<div class="flex-container">

  <div class="banner-kitchen-login">
    <div class="text-area">
      <div class="container">
        <h1>Introducing Ordify</h1>
        <p> The next generation of Point of Sale system, with ordering via the web app, 3 times the processing speed, a sleeker design. Ordify provides high quality guest experience.</p>
      </div>
    </div>

  </div>


  <div class="form-box-login">
    <div class="form-info-login">
      <div class="login-banner">
         <!--logo -->
        <div><%= image_tag "logo.png", class:"logo-employee animate-bounce" %></div>
        <h2>Ordify</h2>

      </div>
      <br>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
              required: true,
              autofocus: true,
              pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}',
              placeholder: "Email",
              label: false,
              input_html: { autocomplete: "email" } %>
          <%= f.input :password,
              required: true,
              placeholder: "Password",
              label: false,
              input_html: { autocomplete: "current-password" } %>

        </div>
        <div class="form-actions mb-3">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Log In", class:"btn w-100 art-mod" %>
        </div>
      <% end %>
      <div class="container-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>
