

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 13em !important;">

      <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %></h2>
      <hr>



      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-revenue-tab" data-toggle="tab" href="#nav-revenue" role="tab" aria-controls="nav-revenue" aria-selected="true">Revenue data</a>
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Sales by day</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sales by hour</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">MenuItems sales distribution</a>

        </div>
      </nav>




      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="my-5">
            <p><ins>Sales by day</ins></p>
            <%= line_chart @restaurant.line_items.group_by_day(:created_at, series: false).count, download: true %>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="my-5">
            <p><ins>Sales by hour</ins></p>
            <%= line_chart @restaurant.line_items.group_by_hour(:created_at, series: false).count, download: true, crosshair: true %>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="my-5">
            <p><ins>MenuItems sales distribution</ins></p>
            <%= pie_chart LineItem.joins(:menu_item).group(:title).size, download: true %>
          </div>
        </div>

        <div class="tab-pane fade show active" id="nav-revenue" role="tabpanel" aria-labelledby="nav-revenue-tab">
          <% if @restaurant.line_items.any? %>
            <h6 class="my-5">
              Total revenues since <%= @restaurant.line_items.first.created_at.to_date %>
              <span class="badge bg-success" style="font-size:0.9rem; color:white;font-weight: inherit;"><%= humanized_money_with_symbol(@restaurant.orders.sum(:total_price_cents)/ 100.0) %> </span>
            </h6>
          <% end %>
        </div>

      </div>

    </main>
  </div>
</div>



