
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><%= current_employee.restaurant.name.capitalize %></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 13em !important;">

      <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %></h2>
      <hr>
      <h6 class="my-5">
        Total revenues since <%= @restaurant.line_items.first.created_at.to_date %>
        <span class="badge bg-success" style="font-size:0.9rem; color:white;font-weight: inherit;"><%= humanized_money_with_symbol(@restaurant.orders.sum(:total_price_cents)/ 100.0) %> </span>
      </h6>

        <!-- <ul> -->
      <%# @menu_items_sales_count.each do |item, count| %>
          <!-- <li><%#= "You have sold #{count} of #{item}" %></li> -->
      <%# end %>
        <!-- </ul> -->
        <%= line_chart @restaurant.line_items.group_by_hour(:created_at).count %>
    </main>
  </div>
</div>



