<!-- yielded from application html mete tag turbolink -->
<%= provide(:content,"reload") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 13em !important;">

      <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %></h2>
      <hr>
      <%= form_for :@restaurant, url: dashboard_restaurant_path(@restaurant), method: :get do |f| %>
        <div class="search-form-control form-group">

          <div class="d-flex align-items-end">
            <div>
              <h6><strong>Select Date range</strong></h6>
              <i class="fa fa-calendar"></i>&nbsp;
              <input type="text" name="datetimes" id="reportrange" class="pl-2" style="width:25rem;">
                <span></span><i class="fa fa-caret-down"></i>
              </input>
            </div>
            <input type="submit" class="btn btn-primary btn-sm h-50 ml-3">
          </div>

        </div>
      <% end %>



      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="revenue-tab" data-toggle="tab" href="#revenue" role="tab" aria-controls="revenue" aria-selected="true">Revenues data</a>
          <a class="nav-item nav-link" id="sales-by-day-tab" data-toggle="tab" href="#sales-by-day" role="tab" aria-controls="sales-by-day" aria-selected="false">Sales by day</a>
          <a class="nav-item nav-link" id="sales-by-hour-tab" data-toggle="tab" href="#sales-by-hour" role="tab" aria-controls="sales-by-hour" aria-selected="false">Sales by hour</a>
          <a class="nav-item nav-link" id="menuitem-sales-tab" data-toggle="tab" href="#menuitem-sales" role="tab" aria-controls="menuitem-sales" aria-selected="false">MenuItems sales distribution</a>

        </div>
      </nav>




      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade " id="sales-by-day" role="tabpanel" aria-labelledby="sales-by-day-tab">
          <div class="my-5">
            <p><ins>Sales by day</ins></p>
            <%= column_chart @restaurant_orders.group_by_day(:order_created_at, series: false).count, download: true, xtitle: "Date", ytitle: "Orders Count" %>
          </div>
        </div>

        <div class="tab-pane fade" id="sales-by-hour" role="tabpanel" aria-labelledby="sales-by-hour-tab">
          <div class="my-5">
            <p><ins>Sales by hour</ins></p>
            <%= line_chart @restaurant_orders.group_by_hour(:order_created_at, series: false).count, download: true, crosshair: true %>
          </div>
        </div>

        <div class="tab-pane fade" id="menuitem-sales" role="tabpanel" aria-labelledby="menuitem-sales-tab">
          <div class="my-5">
            <p><ins>MenuItems sales distribution</ins></p>
            <%= pie_chart LineItem.joins(:menu_item).group(:title).size, download: true %>
          </div>
        </div>

        <div class="tab-pane fade show active" id="revenue" role="tabpanel" aria-labelledby="revenue-tab">
          <% if @restaurant.orders.any? %>

            <h6 class="my-5">
              Last week's orders total (<%= @restaurant.orders.last_week.first.order_created_at.to_date %>)
              <span class="badge bg-success" style="font-size:0.9rem; color:white;font-weight: inherit;"><%= humanized_money_with_symbol(@restaurant.orders.last_week.sum(:total_price_cents) / 100) %> </span>
            </h6>
            <% if @restaurant.orders.yesterday.any? %>

              <h6 class="my-5">
                Yesterday's orders total (<%= @restaurant.orders.yesterday.first.order_created_at.to_date %>)
                <span class="badge bg-success" style="font-size:0.9rem; color:white;font-weight: inherit;"><%= humanized_money_with_symbol(@restaurant.orders.yesterday.sum(:total_price_cents) / 100) %> </span>
              </h6>
            <% end %>
            <% if @restaurant_orders.any? %>
            <h6 class="my-5">
              Orders total query (<%= @restaurant_orders.first.order_created_at.to_date %>  - <%= @restaurant_orders.last.order_created_at.to_date %>)
              <span class="badge bg-success" style="font-size:0.9rem; color:white;font-weight: inherit;"><%= humanized_money_with_symbol(@restaurant_orders.sum(:total_price_cents) / 100) %> </span>
            </h6>
            <% end %>

          <% end %>
        </div>

      </div>



    </main>
  </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- http://www.daterangepicker.com/ -->
<script>
$(function() {

  var start = moment().subtract(29, 'days');
  var end = moment();

  function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  }

  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: start,
    endDate: end,
    locale: {
      format: 'YYYY-M-DD hh:mm A'
    },
    ranges: {
       'Today': [moment(), moment()],
       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
       'This Month': [moment().startOf('month'), moment().endOf('month')],
       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
  }, cb);
  cb(start, end);


});
</script>

