<div class="modal fade" id="editMenuItemModal<%= menu_item.id %>" tabindex="-1" role="dialog" aria-labelledby="<%=menu_item.id%>ModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="<%=menu_item.id%>ModalLabel2">Updating <%=menu_item.title%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for [menu_item.restaurant, menu_item], url: restaurant_menu_item_path(menu_item.restaurant, menu_item), method: :patch do |f| %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :title, input_html: { id:"menu_item_title#{menu_item.id}" }, label_html: { for: "menu_item_title#{menu_item.id}"} %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :item_price, hint: 'price in cents.', input_html: {id:"menu_item_price#{menu_item.id}" }, label_html: {for: "menu_item_price#{menu_item.id}"} %>
                  </div>
                </div>
                <%= f.input :description, as: :text %>
                <%= f.input :active, as: :boolean, hint: 'Inactive to hide.', input_html: { class: "toggle", id:"menu_item_active#{menu_item.id}" }, label_html: { class: 'text-dark', for: "menu_item_active#{menu_item.id}"} %>
                <%= f.input :photos, as: :file, input_html: { multiple: true } %>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>


<style>

</style>
