<!-- yielded from application html mete tag turbolink -->
<%= provide(:content,"reload") %>
<!-- yielded from application html mete tag viewport -->
<%= provide(:responsive,"width=device-width, initial-scale=1.0") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 px-md-4" style="margin-left: 17vw !important;">

      <div class="d-flex justify-content-between align-items-end" style="width: 80vw;">
        <h2 class="mt-5"><%= @restaurant.name.capitalize %>'s Menu Items</h2>
        <div>
            <button type="button" class="btn btn-outline-primary pb-2" data-toggle="modal" data-target="#exampleModal2">
              Add Category
            </button>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary pb-2 ml-3" data-toggle="modal" data-target="#exampleModal">
              Add Menu item
            </button>
        </div>
      </div>


      <hr>
      <div class="table-responsive" style="width: 90vw;">
        <div class="">
          <% @categories.each do |category| %>
          <div class="card m-3 border-0" style="width: 90vw;">
            <div class="card-body">
              <div class="d-flex">
                <h5 class="card-title mr-3"><strong><%= category.title.capitalize %></strong></h5>
                <%= link_to category_path(category.id), method: :delete, data: { confirm: "Are you sure you want to delete #{category.title} from your categoty list?"} do %>
                  <i class="fas fa-trash-alt ml-1" style="color: gray;"></i>
                <% end %>
              </div>
              <h6 class="card-subtitle mb-4 text-muted">Menu Items count: <%= category.menu_items_count %></h6>
              <%#= raise %>
                <div class="d-flex flex-wrap">
                <% category.menu_items.includes(:photos_attachments, :restaurant).order(created_at: :desc).each do |menu_item| %>
                    <div class="card-product my-2 mr-4" style="width:33vw;">
                      <% if menu_item.photos.attached? %>
                        <%= cl_image_tag menu_item.photos.first.key  %>
                      <% else %>
                        <%= image_tag("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid")%>
                      <% end %>
                      <div class="d-flex justify-content-between" style="width:75%; height:112px;">
                        <div class="card-product-infos mt-2 pr-1" style="width: 151px; height: 110px !important; display: flex; flex-direction: column; justify-content: space-around; padding-bottom: 0.5rem;">
                          <h2 class="mb-2">
                            <% if menu_item.title.chars.count > 16 %>
                              <%= menu_item.title.slice(0..16)%>...
                            <% else %>
                              <%= menu_item.title%>
                            <% end %>
                          </h2>
                          <p>
                            <% if menu_item.description.chars.count > 20 %>
                              <%= menu_item.description.slice(0..20)%>...
                            <% else %>
                              <%= menu_item.description%>
                            <% end %>
                          </p>
                          <div class="d-flex">
                            <% if menu_item.active == true%>
                             <p class=""><i class="fas fa-eye" style="color: black;font-size: 1rem;"></i></p>
                            <% else %>
                             <p class=""><i class="far fa-eye-slash" style="color: black;font-size: 1rem; font-weight: bold;"></i></p>
                            <% end %>
                            <p class="ml-2">Ordered <%= pluralize(menu_item.orders.size, "time" ) %></p>
                          </div>
                        </div>
                <!-- here goes the icons -->
                        <div class="d-flex justify-content-between flex-col-reverse mt-3 w-10" style="width: 38px;height: 80px;">
                          <div class=" ">
                            <%= link_to menu_item_path(menu_item.id), method: :delete, data: { confirm: "Are you sure you want to delete this menu item?", disable_with: "Processing..." } do %>
                              <i class="far fa-trash-alt" style="color: #ec524b;"></i>
                            <% end %>
                          </div>
                          <div class="">
                            <button type="button" data-toggle="modal" data-target="#editMenuItemModal<%= menu_item.id %>" class="mb-1">
                              <i class="far fa-edit" style="color: #0278ae;"></i>
                            </button>
                            <script>$('#editMenuItemModal<%= menu_item.id %>').appendTo("body")</script>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%= render partial: 'edit_menu_item_modal', locals:{ menu_item: menu_item } %>
                <% end %>
                </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Add menu item modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content" style="border-radius: 2rem;">

      <div class="modal-header mx-3">
        <h5 class="modal-title" id="exampleModalLabel">Creating new Menu item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for [@restaurant, @menu_item], url: restaurant_menu_items_path(@restaurant) do |f| %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :title %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :item_price, hint: 'price in cents.' %>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :category_id, collection: @categories , include_blank:" Choose a category " %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :portion_size_grams,label: 'Meal Portion', hint: 'protion in grams.' %>
                  </div>
                </div>
                <!-- for ingredients -->
                <!-- <div class="input_fields_wrap">
                    <h4 class="add_field_button mb-4" style="font-size: 16px; font-weight: bold;">Add Ingredients<i class="fas fa-plus-circle text-primary" style="font-size: 16px;margin-left: 0.6rem;"></i></h4>
                </div> -->

                <%= f.input :description, as: :text %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :accepts_extra, as: :boolean, hint: 'Disable to hide Extras.', input_html: { class: "toggle" }, label_html: { class: 'text-dark'}  %>
                  </div>
                  <div class="col-6">
                    <%= f.input :active, as: :boolean, hint: 'Disable to hide.', input_html: { class: "toggle" }, label_html: { class: 'text-dark'}  %>
                  </div>
                </div>
                <%= f.input :photos, as: :file, input_html: { multiple: true }, class:"custom-file-input", wrapper_html: { class: "custom-file"} %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mx-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>

<!-- Add category Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="border-radius: 2rem;">

      <div class="modal-header mx-3">
        <h5 class="modal-title" id="exampleModalLabel2">Creating new Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for @category, url: categories_path do |f| %>
                <%= f.input :title %>
                <%= f.input :restaurant_id, as: :hidden, input_html: { value: "#{current_employee.restaurant.id}" } %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mx-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<!-- <script>

  $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper       = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(wrapper).append(
        `<div>
          <div class="row g-3">
            <div class="col-6">
              <div class="form-group">
                <label for="sel1">Ingredient</label>
                <select class="form-control" id="sel1" name="ingredient_id[]">
                    <option>Choose an ingredient</option>
                  <%# IngredientInventory.all.each do |ingredient| %>
                    <option value="<%#= ingredient.id %>" ><%#= ingredient.name %></option>
                  <%# end %>
                </select>
              </div>
            </div>
            <div class="col-5 ">
              <div class="form-group">
                <label for="usr">Portion</label>
                <input type="text" class="form-control" name="ingredient_portion_size[]" placeholder="portion in grams">
              </div>
            </div>
              <a href="#" class="remove_field" style="margin-top:2.5rem;"><i class="far fa-trash-alt" style="color: #ec524b;"></i></a>
          </div>
        </div>`
        ); //add input box
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });
</script> -->
