<!-- yielded from application html mete tag turbolink -->
<%= provide(:content,"reload") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between align-items-end" style="width: 75vw;">
        <h2 class="mt-5"><%= current_employee.restaurant.name.capitalize %>'s Menu Items By Category</h2>
        <button type="button" class="btn btn-outline-primary pb-2" style="margin-left: 15rem; "data-toggle="modal" data-target="#exampleModal2">
          Add Category
        </button>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary pb-2" data-toggle="modal" data-target="#exampleModal">
          Add Menu item
        </button>
      </div>


      <hr>
      <div class="table-responsive">
        <div class="">
          <% @categories.each do |category| %>
          <div class="card m-3" style="width: 75vw;">
            <div class="card-body">
              <div class="d-flex">
                <h5 class="card-title mr-3"><strong><%= category.title %></strong></h5>
                <%= link_to category_path(category.id), method: :delete, data: { confirm: "Are you sure you want to delete #{category.title} from your categoty list?"} do %>
                  <i class="fas fa-trash-alt ml-1" style="color: gray;"></i>
                <% end %>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="col-md-auto">MenuItem</th>
                    <th scope="col" class="col-md-auto">Price</th>
                    <th scope="col" class="col-md-auto">Active</th>
                    <th scope="col" class="col-md-auto"></th>
                  </tr>
                </thead>
                <tbody>
                <% category.menu_items.order(created_at: :desc).each do |menu_item| %>
                  <tr>
                    <td><p class="card-text"><%= menu_item.title %></p></td>
                    <td><p class="card-text"><%= humanized_money_with_symbol(menu_item.item_price) %></p></td>
                    <% if menu_item.active == true%>
                      <td><p class="card-text"><i class="fas fa-eye"></i></p></td>
                    <% else %>
                      <td><p class="card-text"><i class="far fa-eye-slash"></i></p></td>
                    <% end %>
                    <td class="d-flex flex-row-reverse pr-5">
                      <p class="card-text">
                        <button type="button" data-toggle="modal" data-target="#editMenuItemModal<%= menu_item.id %>" >
                          <i class="far fa-edit mx-3" style="color: gray;"></i>
                        </button>
                        <%= link_to menu_item_path(menu_item.id), method: :delete, data: { confirm: "Are you sure you want to delete this menu item?", disable_with: "Processing..." } do %>
                          <i class="far fa-trash-alt" style="color: gray;"></i>
                        <% end %>
                      </p>
                    </td>
                  </tr>
                  <%= render partial: 'edit_menu_item_modal', locals:{ menu_item: menu_item } %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creating new Menu item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for [@restaurant, @menu_item], url: restaurant_menu_items_path(@restaurant) do |f| %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :title %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :item_price, hint: 'price in cents.' %>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.association :category, prompt:" Choose a category " %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :portion_size_grams,label: 'Portion', hint: 'protion in grams.' %>
                  </div>
                </div>
                <%= f.input :description, as: :text %>
                <%= f.input :active, as: :boolean, hint: 'Inactive to hide.', input_html: { class: "toggle" }, label_html: { class: 'text-dark'}  %>
                <%= f.input :photos, as: :file, input_html: { multiple: true }, class:"custom-file-input", wrapper_html: { class: "custom-file"} %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Creating new Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for @category, url: categories_path do |f| %>
                <%= f.input :title %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>

