<% if @order.sent == true %>
  <%= render 'shared/order_sent' %>
<% else %>
  <div class="main-container-menu-item-index">

    <!-- back icon--place "Back to Menu" here -->
    <div class="back-icon">
      <%= link_to categories_path do%>
        <i class="fad fa-chevron-left text-fontawesome mr-2"></i>
        <p>Back to Menu</p>
      <% end %>
    </div>

    <!-- Just Order Summary text -->
    <div class="order-summary-text">Order Summary</div>

    <!-- this is the card for summary -->
    <% @line_items.each do |line_item| %>
      <% if line_item.quantity >= 1 %>
        <% if line_item.ordered == true %>
          <div class="card-item">
            <div class="img-container-card">
              <%= image_tag("https://images.unsplash.com/photo-1567336967319-2500ab3ce9dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")%>
            </div>
            <div class="card-item-infos">
              <div class="d-flex justify-content-between h-50 w-100 pt-3 px-1">
                <h2 class="px-2 w-50">
                  <% if line_item.menu_item.title.chars.count > 17 %>
                    <%= line_item.menu_item.title.slice(0..17)%>... x <%= line_item.quantity %>
                  <% else %>
                    <%= line_item.menu_item.title %> x <%= line_item.quantity %>
                  <% end %>
                </h2>
                <h2><%= humanized_money_with_symbol(line_item.total) %></h2>
              </div>
              <% if line_item.dispatched_from_kitchen == true %>
                <h2 class="badge badge-pill badge-success mt-auto ml-2 w-50" style="font-size:30px;">Delivered</h2>
              <% else %>
                <h2 class="badge badge-pill badge-primary mt-auto ml-2 animate-pulse w-50" style="font-size:30px;">Being prepared</h2>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="card-item">
            <div class="img-container-card">
              <%= image_tag("https://images.unsplash.com/photo-1567336967319-2500ab3ce9dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")%>
            </div>
             <div class="card-item-infos">
                <div class="d-flex justify-content-between h-50 w-100 pt-3 px-1">
                  <h2 class="px-2 w-50"><%= line_item.menu_item.title %></h2>
                  <h2><%= humanized_money_with_symbol(line_item.total) %></h2>
                </div>
                <div class="d-flex justify-content-end h-50">
                  <%= simple_form_for [@order, line_item], url: order_line_item_path(@order.id, line_item.id), html: { id: :form } , method: :patch, remote: true do |f| %>
                    <div class="">
                      <div class="custom-number-input h-10 w-32 mt-5 toggler-div" >
                        <div class="flex flex-row toggler relative bg-transparent toggler-border">
                          <button data-action="decrement" class=" text-gray-600 h-full w-20 outline-none pl-5 counter-white left-side height100" >
                            <span class="m-auto text-2xl ">−</span>
                          </button>
                          <input type="number" class="outline-none focus:outline-none text-center w-full font-semibold text-md counter-white  md:text-basecursor-default flex items-center text-gray-700 height100 line-item-count" name="custom-input-number" value=<%= line_item.quantity %>></input>
                          <button data-action="increment" class=" counter-white  text-gray-600 h-full w-20 pr-5 right-side height100">
                            <span class="m-auto text-2xl" >+</span>
                          </button>
                          <input type="hidden" id="custId" name="line_item" value="<%= line_item.id %>">
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <%= simple_form_for(@order, url: order_path(params[:order_id]), wrapper: :inline_form, html: { id: "modal-trigger", method: :patch, class: "btn-sticky w-100 d-flex justify-content-center" }) do |f| %>
  <!-- button/input trigger modal -->
      <button type="submit" class="btn-call2-action d-flex justify-content-between px-5">
        <h3>Send order </h3>
        <h3><%= humanized_money_with_symbol(@line_items.first.order.total_price) %></h3>
      </button>

  <% end %>
  <!-- Custom Modal -->
  <div id="sentNotification2" class="modal2">
    <div class="modal2-content">
      <div class="pan-loader">
        <div class="loader"></div>
        <div class="pan-container">
          <div class="pan"></div>
          <div class="handle"></div>
        </div>
        <div class="shadow"></div>
      </div>
      <div class="mt-0 mb-5 modal-subtitle text-center">Your order has been sent to the kitchen</div>
    </div>
  </div>
<% end %>

