<div class="main-container-menu-item-index min-vh-75">

  <!-- back icon--place "Back to Menu" here -->
  <div class="back-icon">
    <%= link_to categories_path do%>
      <i class="fad fa-chevron-left text-fontawesome mr-2"></i>
    <% end %>
    Back to Menu
  </div>

  <!-- Just Order Summary text -->
  <div class="order-summary-text">Order Summary</div>

  <!-- this is the card for summary -->
  <% @line_items.each do |line_item| %>
    <% if line_item.quantity >= 1 %>
      <div class="card-item">
        <div class="img-container-card">
          <%= image_tag("https://images.unsplash.com/photo-1567336967319-2500ab3ce9dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")%>
        </div>
        <div class="card-item-infos">
          <div class="d-flex justify-content-between h-50 pt-4 px-4">
            <h2><%= line_item.menu_item.title %></h2>
            <h2><%= humanized_money_with_symbol(line_item.total) %></h2>
          </div>
          <div class="d-flex justify-content-end h-50 px-4">
            <%= simple_form_for [@order, line_item], url: order_line_item_path(@order.id, line_item.id), html: { id: :form } , method: :patch, remote: true do |f| %>
            <div class="">
              <div class="custom-number-input h-10 w-32 mt-5 " style="width:500px; font-size: 50px;">
                <div class="flex flex-row rounded-lg toggler relative bg-transparent "style="height: 80px;">
                  <button data-action="decrement" class=" text-gray-600 h-full w-20 outline-none pl-5 counter-white" style="border-top-left-radius: 155px;border-bottom-left-radius: 155px;border-right: none;">
                    <span class="m-auto text-2xl "style="font-size: 50px;font-weight: bold; ">−</span>
                  </button>
                  <input type="number" class="outline-none focus:outline-none text-center w-full font-semibold text-md counter-white  md:text-basecursor-default flex items-center text-gray-700  outline-none line-item-count" name="custom-input-number" value=<%= line_item.quantity %>></input>
                  <button data-action="increment" class=" counter-white  text-gray-600 h-full w-20 pr-5" style="border-top-right-radius: 155px;border-bottom-right-radius: 155px;border-left: none;">
                    <span class="m-auto text-2xl" style="font-size: 50px;font-weight: bold; ">+</span>
                  </button>
                  <input type="hidden" id="custId" name="line_item" value="<%= line_item.id %>">
                </div>
              </div>
            </div>
          </div>
            <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= simple_form_for @order , url: order_path(params[:order_id]), method: :patch do |f| %>
<!-- button/input trigger modal -->
  <%#= simple_form_for @order, url: pay_order_path(params[:order_id]), method: :get, remote: true  do |f|%>
    <button type="submit" class="btn-call2-action btn-sticky" data-toggle="modal" data-target="#sentNotification">Send order</button>
  <%# end %>
<% end %>
<!-- Modal -->
<div class="modal fade" id="sentNotification" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
    <div class="modal-content modal-box">
      <button type="button" class="close d-flex justify-content-end mt-3 pr-4" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true pr-5" class="close-button" >&times;</span>
      </button>
      <div class="modal-body">
        <div class="logo-holder">
          <h3><%= humanized_money_with_symbol(@order.total_price) %></h3>
          <%#= image_tag "logo.png", alt: "alttext", style:"height: 250px; width: 250px;" %>
          <div class="mt-0 splash-subtitle">Your order has been sent to the kitchen</div>
          <br>
        </div>
        <div class="d-flex justify-content-around buttons-modal">
          <%= link_to "Pay Later", order_line_items_path(params[:order_id]) , class:"btn-pay pay-now"%>
            <%#= simple_form_for @order, url: pay_order_path(params[:order_id]), method: :get do |f|%>
            <button id="pay"class="btn btn-outline-dark btn-pay"> Pay Now</button>
            <%# end %>
        </div>
      </div>
    </div>
  </div><%#= raise %>
</div>
<script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });


  </script>
