<%#= @line_items.last.menu_item.title %>
<%#= @line_items.last.quantity %>
<%#= link_to "Delete", line_item_path(@line_items.last), method: :delete %>

<div class="main-container-menu-item-index min-vh-75">

  <!-- back icon--place "Back to Menu" here -->
  <div class="back-icon">
    <%= link_to categories_path do%>
      <i class="fad fa-chevron-left text-fontawesome mr-2"></i>
    <% end %>
    Back to Menu
  </div>

  <!-- Just Order Summary text -->
  <div class="order-summary-text">Order Summary</div>

  <!-- this is the card for summary -->
  <% @line_items.each do |line_item| %>
    <div class="card-item">
      <div class="img-container-card">
        <%= image_tag("https://images.unsplash.com/photo-1567336967319-2500ab3ce9dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")%>
      </div>
      <div class="card-item-infos">
        <div class="d-flex justify-content-between h-50 pt-4 px-4">
          <h2><%= line_item.menu_item.title %></h2>
          <h2><%= humanized_money_with_symbol(line_item.total) %></h2>
        </div>
        <div class="d-flex justify-content-end h-50 px-4">
          <button class="btn btn-outline-dark h-75">Toggler</button>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <!-- button trigger modal -->
<button type="button" class="btn-call2-action btn-sticky" data-toggle="modal" data-target="#sentNotification">
  Send order
</button>

<!-- Modal -->
<div class="modal fade" id="sentNotification" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="height: 45vh;">
      <button type="button" class="close d-flex justify-content-end" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true pr-5" style="font-size: 60px;">&times;</span>
      </button>
      <div class="modal-body">
        <div class="logo-holder">
          <%= image_tag "logo.png", alt: "alttext", class:"h-50 w-50"%>
          <div class="mt-0 splash-subtitle">Your order has been sent to the kitchen</div>
          <br>
        </div>
        <div class="d-flex justify-content-around" style="margin-top: 8vh;">
          <%= link_to "Pay Later", order_line_items_path(params[:order_id]) , class:"btn-pay pay-now" %>
          <button type="button" class="btn btn-outline-dark btn-pay">Pay Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
