<!DOCTYPE html>
<html>
  <head>
    <title>Ordify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>
    <link href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <!-- <p class="notice"><%#= notice %></p> -->
    <!-- <p class="alert"><%#= alert %></p> -->
    <%= yield %>
  </body>
</html>
